DATABASE_URL="file:./dev.db"
DATA_GO_KR_SERVICE_KEY=""
JEJU_OPEN_API_BASE_URL="http://busopen.jeju.go.kr/OpenAPI/service/jibusopenapi"
JEJU_OPEN_API_SERVICE_KEY=""
OSRM_BASE_URL="http://localhost:5000"
OSRM_FOOT_BASE_URL="http://localhost:5000"
OSRM_BUS_DISTANCE_BASE_URL="http://localhost:5001"
OSRM_BUS_ETA_BASE_URL="http://localhost:5002"
OSRM_BUS_ETA_DATASET_NAME="bus-eta"
GTFS_FEED_URL=""
GTFS_SHAPES_PATH=""
BUS_OSRM_VEHICLE_HEIGHT="3.6"
BUS_OSRM_VEHICLE_WIDTH="2.5"
BUS_OSRM_VEHICLE_LENGTH="11.0"
BUS_OSRM_VEHICLE_WEIGHT="14000"
ENABLE_INTERNAL_ADMIN="true"
BUS_JEJU_BASE_URL="https://bus.jeju.go.kr"
KAKAO_REST_API_KEY=""
VISIT_JEJU_BASE_URL=""
BUS_STOPS_SOURCE_URL=""
STOP_TRANSLATIONS_XLSX_PATH=""
ROUTE_TIMETABLE_BASE_URL=""
VEHICLE_MAP_SOURCE_URL=""
ROUTE_SEARCH_TERMS=""
